* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #ededed;
    margin-top: 50px;
}

.App { 
    display: grid;
    width: 80%;
    margin: auto;
}

.aduCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-btn {
    justify-self: end;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 18px;
}