body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 10px;
  width: 70px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background: #8090f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: #6d7de3;
}